@import url(https://fonts.googleapis.com/css?family=Quicksand);

@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

img {

}

header {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	background-color: white;
	border: none;
	padding: 20px;
}

#slogan {
	font-family: 'Seaweed Script', cursive;
	font-size: 18px;
	font-style: italic ;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
}

nav {
	background-color: white;
	font-family: "Quicksand", sans-serif;
	text-align: center
}

a {
	background-color: white;
	color: black;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
	width: 200px;
}

a:hover {
	background-color: gray;
	color: white;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	background-color: white;
	border: none;
	padding: 20px;
}

footer {
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	background-color: white;
	border: none;
	padding: 20px;

