@import url(https://fonts.googleapis.com/css?family=Quicksand);

@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

nav {
	background-color: black;
	font-family: "Quicksand", sans-serif;

}

a {
	background-color: black;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
	width: 200px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: blue
}