body {background-color: #EFF0F4;
}

h1 {font-family: Quicksand, sans-serif;
	font-size: 45px;
	font-style: ;
	font-weight: 100;
	text-align: center;
    text-decoration: none;
	text-transform: ;
}

#slogan {font-family: Quicksand, sans-serif;
	font-size: 18px;
	font-style: italic ;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	text-transform: ;
}

p {font-family: Quicksand, sans-serif;
	font-size: 12px;
	font-style: ;
	font-weight: 100;
	text-align: center;	
}
